export PYTHONPATH="/C/Users/keepon/Desktop/Team_Panic/SpheroNav:/C/Users/keepon/Desktop/Team_Panic/SpheroTeam:/C/Users/keepon/Desktop/Team_Panic/SpheroTeam/SpheroTeam:$PYTHONPATH"

PATH=$PATH:/C/Users/keepon/Anaconda2/Scripts